<div class="fm-panel margin-top-lg">
  <h4>Get Social</h4>
  <div>
    <h4>What is Get Social?</h4>
    <p>Get Social is the place where you can have a great time and find new friends!</p>

    <h4>What do I have to do to have fun?</h4>
    <p>Just press the button below, login with your Facebook profile and go crazy</p>

    <h4>Is there any risk?</h4>
    <p>Do not be afraid! We do not store any of your private data!</p>
  </div>
  <a href="#" class="btn btn-success btn-lg pull-right login-button">
    Login
  </a>
</div>
